{% macro createSlides(dataCategory, dataTitle, imagesProperty, blurb) %}
    <div class="slide" data-category="{{ dataCategory }}" data-title="{{ dataTitle }}" id="">
        <div class="h-slides">
			<div class="slide">
				<div class="title-card">
					<h2>{{ dataTitle }}</h2>
					<p>{{ blurb }}</p>
				</div>
			</div>
            {% for item in images[imagesProperty] %}
                <div class="slide">
                    <figure>
                        <img src="{{ item.url }}">
                        <figcaption>
                            <eyebrow>{{ item.eyebrow }}</eyebrow>
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.description }}</p>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://use.typekit.net/slt0fgj.css">
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>

<style>
    {% include "main.css" %}
</style>

<script type="module" src="./js/main.js"></script>
