---
title: Nicholas Pavkovic | Home
layout: default.njk
permalink: index.html
---

{% macro createSlides(imageTag, category, subcategory ) %}
<!-- CATEGORY: {{ category }} -->
{% for item in images.items[imageTag] %}
<page data-id="{{ imageTag }}" data-category="{{ category }}" id="{{ item.slug }}"{% if loop.index == 1 and subcategory %}data-subcategory="{{ subcategory }}" data-index{% endif %}>
	<figure>
		<images>
			{% for imageUrl in item.urls %}
			<div><img src="{{ imageUrl }}" loading="lazy" /></div>
			{% endfor %}
		</images>
		<figcaption>
			<eyebrow>{{ item.eyebrow }}</eyebrow>
			<h3>{{ item.title }}</h3>
			<p>{{ item.description }}</p>
		</figcaption>
	</figure>
</page>
{% endfor %}
<!-- </div>
	</div> -->
{% endmacro %}

<div id="scrim"></div>
<div id="backdrop"></div>

<nav id="menu-bar">
	<button id="hamburger" class=""></button>
	<div id="toc">
		<header>Contents</header>
		<ul id="toc-content"></ul>
		<header>Visual Index</header>
		<div id="toc-visual-index">
			<ul>
				{% for tag in images.tags %}
				<h2>{{ tag }}</h2>
				{% for item in images.items[tag] %}
				<li><a href="#{{ item.slug }}"> <img src="{{ item.thumbnail }}"/></a></li>
				{% endfor %} {% endfor %}
			</ul>
		</div>

		<style>
		</style>
	</div>
	<button id="full-screen-button"></button>
</nav>

<main>
	<div id="scroll-wrap">
		<div id="previous-chapter"></div>
		<div id="next-chapter"></div>

		<div id="scroller">
			<chapter title="Web">
				<pages>
					<page data-category="Web" id="web" data-index>
						<div class="title-card">
							<h2>Web</h2>
							<p>
								I programmed my first website in 1997, and have been balancing print &amp;
								web assignments ever since. Most of the projects here are design/build,
								where “build” can mean anything from hand-coding HTML/CSS to complex
								WordPress sites.
							</p>
						</div>
					</page>

					{{ createSlides("web", "Web") }}
				</pages>
			</chapter>
			<!-- PUBLICATION DESIGN -->

			<chapter title="Publication Design">
				<pages>
					<page data-category="Publication Design" id="publication-design" data-index>
						<div class="title-card">
							<h2>Publication Design</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
								veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
								commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
								velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
								cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
								est laborum.
							</p>
						</div>
					</page>

					<page
						data-category="Publication Design"
						data-subcategory="Oracle"
						id="oracle"
						data-index
					>
						<div class="title-card">
							<h2>Oracle</h2>
							<p>
								As a visual designer at Oracle (2012-2014), I contributed to the print
								designs of the flagship <i>Oracle</i> magazine as well as
								<i>Profit</i> magazine (a lifestyle publication) and the hybrid
								online/print magazine, <i>Java</i>.
							</p>
						</div>
					</page>

					{{ createSlides("oracle", "Publication Design") }}

					<page
						data-category="Publication Design"
						data-subcategory="Ziff-Davis Verlag"
						id="ziff-davis"
						data-index
					>
						<div class="title-card">
							<h2>Ziff-Davis Verlag</h2>
							<p>
								Arriving in Munich in 1994 for a short redesign assignment for Ziff-Davis
								Verlag, I stayed on through 1997, serving as Art Director and, later,
								Creative Director. Publications included
								<i>PC Professionell</i> (analogous to <i>PC Magazine</i> in the U.S.) and
								the launch of <i>pl@net</i>, an internet culture magazine. My staff
								included junior art directors, a layout department and a photo studio.
							</p>
						</div>
					</page>

					{{ createSlides("ziff-davis", "Publication Design") }}

					<page
						data-category="Publication Design"
						data-subcategory="Pulp Magazine"
						id="pulp-magazine"
						data-index
					>
						<div class="title-card">
							<h2>Pulp Magazine</h2>
							<p>
								Founded in 1988 with photographer/illustrator Francisco Caceres, this DIY
								magazine entered the scene during the last (?) flowering of print
								magazines prior to the arrival of the web. In addition to providing me a
								place to spread my wings as a publication designer and writer, it was a
								valuable outlet for creatives of all types in Chicago.
							</p>
						</div>
					</page>

					{{ createSlides("pulp", "Publication Design") }}

					<page
						data-category="Publication Design"
						data-subcategory="Covers & Miscellania"
						id="covers"
						data-index
					>
						<div class="title-card">
							<h2>Covers &amp; Miscellania</h2>
							<p>
								A variety of covers and other items related to books, magazines &amp;
								reports.
							</p>
						</div>
					</page>

					{{ createSlides("pub-misc", "Publication Design") }}

					{{ createSlides("poster", "Print", "Posters") }}
					{{ createSlides("presentation", "Print", "Presentation") }}

				</pages>
			</chapter>

			<!-- CODE -->

			<chapter title="Code">
				<pages>
					<page data-category="Code" id="code" data-index>
						<div class="title-card">
							<h2>Code</h2>
							<p>
								While there are examples of engineering throughout my portfolio, this
								section covers some early and more unusual experiments: recent CSS follies
								as well as code in PostScript and C that dates back to the 1980s.
							</p>
						</div>
					</page>

					<page
						data-id="PulpModern"
						id="code-pulpmodern"
						data-category="Code"
						data-subcategory="Pulp Modern"
						data-index
						@enter="showPulp"
						@exit="resetPulp"
					>
						<figure>
							<div id="pulpmodern-example" style="opacity: 0">
								<div id="pulpmodern-characters">
									<span>A</span><span>B</span><span>C</span><span>D</span><span>E</span
									><span>F</span><span>G</span><span>H</span><span>I</span><span>J</span
									><span>K</span><span>L</span><span>M</span><span>N</span><span>O</span
									><span>P</span><span>Q</span><span>R</span><span>S</span><span>T</span
									><span>U</span><span>V</span><span>W</span><span>X</span><span>Y</span
									><span>Z</span>
								</div>

								<div id="about-pulpmodern">
									<span>P</span><span>u</span><span>l</span><span>p</span><br /><span
										>M</span
									><span>o</span><span>d</span><span>e</span><span></span><span>r</span
									><span>n</span><br /><span>1</span><span>9</span><span>8</span
									><span>8</span>
								</div>
							</div>

							<figcaption>
								<eyebrow>FONT</eyebrow>
								<h3>Pulp Modern</h3>
								<p>
									Designed in 1988 as the logotype for Pulp Magazine. While rudimentary
									commercial font design software was available, this constructed font was
									assembled directly in PostScript using bézier curves created with the
									first release of Adobe Illustrator.
								</p>
							</figcaption>
						</figure>
					</page>

					<page
						data-id="Orbits"
						id="code-orbits"
						@enter="showOrbits"
						@exit="resetOrbits"
						data-category="Code"
						data-subcategory="Orbits"
						data-index
					>
						<figure>
							<div id="orbits-html" style="height: 60vh">
								<div id="bubble-rink1">
									<div class="bubble">
										<div class="gears"></div>
									</div>
									<div class="bubble">
										<div class="gears"></div>
									</div>
								</div>
								<div id="bubble-rink2">
									<div class="bubble">
										<div class="gears"></div>
									</div>
									<div class="bubble">
										<div class="gears"></div>
									</div>
								</div>
							</div>
							<figcaption>
								<eyebrow>CSS EXPERIMENT</eyebrow>
								<h3>Orbits</h3>
								<p>
									As some of the other pages demonstrate, I’m a big fan of transparency
									and layering in design. Here those two interests are paired with
									animation.
								</p>
							</figcaption>
						</figure>
					</page>

					{{ createSlides("code", "Code") }}
				</pages>
			</chapter>
		</div>
	</div>
</main>
