:root {
  --ambient-backdrop-rotation: 0deg;
  --info-width: 420px;
  --info-font-size: 1.2rem;
  --page-margin: 48px;
  --content-width: min(800px, calc(100vw - (var(--page-margin) * 2)));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.5;
  color: black;
  scroll-behavior: smooth;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
}

button {
  appearance: none;
  background: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header#main-header {
  position: fixed;
  left: 72px;
  top: 0;
  transform-origin: top right;
  rotate: -90deg;
  background: black;
  height: 54px;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
}

header#main-header .name {
  color: white;
  font-size: 24px;
}

header#main-header .tag {
  color: #999;
}

main {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

[class*="-column"] {
  color: rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.caption,
.ticker,
h2 {
  max-width: 400px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  padding: 0;
  margin: 18px 0 0 0;
}

.vignette {
  box-shadow: 0 0 100px inset rgba(0, 0, 0, 0.5);
}

.info-wrap {
  position: absolute;
  top: auto;
  bottom: 18px;
  width: var(--info-width);
  overflow: hidden;
  left: 50%;
  margin-left: calc((var(--content-width) / 2) * -1);
  transform: translate3d(0, 0, 0);

  /* For Safari Bug */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  /* -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0) */
  display: flex;
}

.info-wrap p {
  translate: 0 -14px;
  transition: translate 500ms;
}

.info-active p {
  translate: 0;
}

.info {
  color: #DDD;;
  font-style: normal;
  letter-spacing: 0.2px;
  font-size: var(--info-font-size);
  text-align: left;
  line-height: 1.5;
  padding: 18px;
  margin: 0;
  letter-spacing: .2px;
  background: black;
  /* max-width: 400px; */
  transform: translate(0, calc(100% - 36px));
  transition: transform 500ms;
  overflow: hidden;
}

.i {
  position: absolute;
  z-index: 1;
  height: 30px;
  border-radius: 100%;
  width: 30px;
  left: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #222;
  bottom: 16px;
  margin-left: calc(var(--info-width) / 2 - 30px);
    }

.i::before,
.i::after {
  content: "";
  width: 12px;
  height: 1px;
  border-top: 2px solid #ffd004;
  display: inline-block;
  margin: 0 -1.1px;
  rotate: -30deg;
  transition: rotate 1s;
}

.i::after {
  rotate: 30deg;
}

.info-active .i::before {
  rotate: 30deg;
}

.info-active .i::after {
  rotate: -30deg;
}

/* .rules {
background: repeating-linear-gradient(transparent, transparent 26px, #999 26px, #999 27px), black;
background-position: 18px 8px;
background-size: calc(100% - 36px) 100%;
background-repeat: no-repeat;
} */

.info span {
  white-space: nowrap;
}

.info i {
  font-style: normal;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin: 0 6px 0 0;
  color: #aaa;
}

.info hr {
  width: 100%;
  height: 1px;
  border: none;
  padding: 0;
  margin: 5px 0 6px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.info span {
  margin-right: 8px;
  word-break: keep-all;
}

.info h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  text-align: left;
  color: white;		
}

button.show-info {
  position: absolute;
  z-index: 1000;
  right: 8px;
  top: 11px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  overflow: hidden;
  opacity: 0.5;
  transition: filter 500ms, transform 500ms;
  width: 1.5em;
  height: 1em;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 90deg;
  filter: brightness(2);
}

.show-info::after {
  content: ">";
  font-size: 24px;
}

.info-active .show-info {
  transform: rotate(180deg);
}

.content-wrap {
  margin-top: -10vh;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active .content-wrap {
  opacity: 1;
}

.reversed-box,
.reversed-box-2 {
  border-radius: 2px;
  padding: 18px;
  background: rgba(0, 14, 0, 0.3);
  /* box-shadow: 0 0 36px inset rgba(0, 0, 0, .5); */
  backdrop-filter: blur(2px) saturation(0.5);
  /* background: linear-gradient(180deg, rgba(255,255,255,.8), rgba(255,255,255,.23));
  box-shadow: 0 0 6px inset white;		 */
}

.text-shadow {
  text-shadow: 2px 2px 5px black, -2px -2px 5px black;
}

.ticker {
  position: absolute;
  left: auto;
  right: 0;
}

h1 {
  font-size: 82px;
  font-style: normal;
  color: inherit;
  line-height: 1;
  text-align: center;
}

.slide h1 {
  font-variation-settings: "wght" 200;
  margin: 0 auto;
  width: fit-content;
  font-size: 48px;
  line-height: 0.9;
}

@media (max-width: 481px) {
  .slide h1 {
    font-size: 40px;
  }
}

.smallcaps,
#menu header {
  width: 100%;
  font-size: 18px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 18px auto;
  text-align: center;
}

#scroller {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  display: flex;
  height: 100vh;
  width: 100vw;
  width: auto;
  position: relative;
}

.slide {
  flex: 0 0 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  position: relative;
  background-color: black;
  opacity: 0.2;
  transition: opacity 2s;
  position: relative;
  padding: 54px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

#home .content-wrap {
  padding: 18px;
  /* background: rgba(255,255,255,.3); */
  position: absolute;
  width: max-content;
  left: 36px;
  top: 40%;
  /* transform: translateY(-50%); */
  /* border: 8px solid rgba(255, 255, 255, .3); */
  /* backdrop-filter: blur(2px); */
}

#home {
  color: white;
}

#home h1 {
  font-size: 72px;
  width: max-content;
  line-height: 0.7;
  margin: 0;
  text-align: left;
  /* mix-blend-mode: difference; */
  color: white;
}

#home .smallcaps {
  font-size: 18px;
  text-align: center;
  margin: 18px 0 0 0;
  letter-spacing: 0.3em;
}

@media (max-width: 481px) {
  .slide {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.bigPlay-dark button.bigPlay {
  filter: brightness(0.25);
}

button.bigPlay {
  overflow: hidden;
  stroke: white;
  stroke-width: 2px;
  fill: transparent;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 12px;
  width: 36px;
  height: 36px;
  opacity: 0.5;
  transition: opacity 500ms;
}

button.bigPlay:hover {
  opacity: 1;
}

.slide.playing button.bigPlay {
  opacity: 0;
  pointer-events: none;
}

.photo-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* object-fit: cover; */
  background-size: cover;
  background-position: center;
  background-color: rgb(15, 15, 46);
  opacity: 0;
  transition: opacity 2s, filter 10s;
  z-index: -1;
}

.audio-player {
  position: absolute;
  bottom: 30px;
  left: 50%;
  opacity: 0.2;
  width: calc(100% - 36px);
  transform: translateX(-50%);
  cursor: pointer;
  transition: opacity 1s;
}

.audio-player:hover {
  opacity: 1;
}

.hide-svgs {
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}

.audio-controls {
  position: absolute;
  width: calc(100% - 48px);
  max-width: 400px;
  left: 50%;
  bottom: 8px;
  height: 34px;
  transform: translate(-50%, 42px);
  transition: transform 1s;
  background: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0 18px 0 18px;
  font-size: 12px;
  color: #aaa;
}

.info-active .info {
  transform: translateY(0);
}

.slide.playing .audio-controls {
  transform: translate(-50%, 0);
}

.audio-controls .elapsed {
  letter-spacing: 1px;
  flex: 0 0 36px;
  text-align: right;
}

.audio-controls .duration {
  letter-spacing: 1px;
  flex: 0 0 36px;
  text-align: left;
}

.audio-controls .progress {
  margin-left: 6px;
  flex: 1 1 100%;
  height: 8px;
  background-image: linear-gradient(0deg, #888, #888);
  background-color: #444;
  border-radius: 8px;
  background-size: 0 100%;
  background-repeat: no-repeat;
}


#scroll-wrap {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-align: start end;
}

.active {
  opacity: 1;
}

.active .photo-backdrop {
  opacity: 1;
}