{% macro createSlides(dataCategory, dataTitle, imagesProperty, blurb) %}
    <div class="slide" data-category="{{ dataCategory }}" data-title="{{ dataTitle }}" id="">
        <div class="h-slides">
			<div class="slide">
				<div class="title-card">
					<h2>{{ dataTitle }}</h2>
					<p>{{ blurb }}</p>
				</div>
			</div>
            {% for item in images[imagesProperty] %}
                <div class="slide">
                    <figure>
                        <img src="{{ item.url }}">
                        <figcaption>
                            <eyebrow>{{ item.eyebrow }}</eyebrow>
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.description }}</p>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
