	html,
	body {
		scroll-behavior: auto;
		margin: 0;
		padding: 0;
		touch-action: pan-x pan-y;
		hyphens: auto;
		position: relative;
		font-family: freight-big-pro, sans-serif;
	}

	#backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		overflow: hidden;
		background-color: #1b0f09;
		color: #4b3131;
		font-size: 8rem;
	}

	#scrim {
		width: 100dvw;
		height: 100dvh;
		background: black;
		z-index: 1000;
		opacity: 0;
		pointer-events: none;
	}

	#scrim.active {
		pointer-events: auto;
		touch-action: pan-x pan-y pinch-zoom;
		opacity: 1;
	}

	#full-screen-button {
		position: fixed;
		z-index: 1000;
		cursor: pointer;
		right: 18px;
		bottom: 18px;
		width: 30px;
		height: 30px;
		opacity: 0.7;
		transition: opacity 500ms;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MSAzMSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTM0LjQ5LDMxSDYuNTFjLTMuNTksMC02LjUxLTIuOTItNi41MS02LjUxVjYuNTFDMCwyLjkyLDIuOTIsMCw2LjUxLDBoMjcuOThjMy41OSwwLDYuNTEsMi45Miw2LjUxLDYuNTFWMjQuNDljMCwzLjU5LTIuOTIsNi41MS02LjUxLDYuNTFaTTYuNTEsMUMzLjQ3LDEsMSwzLjQ3LDEsNi41MVYyNC40OWMwLDMuMDQsMi40Nyw1LjUxLDUuNTEsNS41MWgyNy45OGMzLjA0LDAsNS41MS0yLjQ3LDUuNTEtNS41MVY2LjUxYzAtMy4wNC0yLjQ3LTUuNTEtNS41MS01LjUxSDYuNTFaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMjcuMjYsNi45N2wtNS4yOSw2Ljk2di4xMWw4LjQtMS4xMXYzLjc4bC04LjQtMXYuMTFsNS4zNCw2LjY4LTMuNTEsMi0zLjM0LTcuNzloLS4xMWwtMy42Miw3Ljg1LTMuMTctMiw1LjI5LTYuNzl2LS4xMWwtOC4yNCwxLjA2di0zLjc4bDguMTgsMS4wNnYtLjExbC01LjIzLTYuNzksMy4zOS0xLjk1LDMuNDUsNy43NGguMTFsMy4zOS03Ljc5LDMuMzQsMS44OVoiLz48L3N2Zz4=);
	}

	#full-screen-button:hover {
		opacity: 1;
	}

	body.fullscreen #full-screen-button {
		opacity: 0;
		pointer-events: none;
	}

	a {
		color: inherit;
		text-decoration: none;
	}


	#next-page {
		width: fit-content;
		position: absolute;
		top: 12px;
		left: 12px;
		z-index: 1000;
		transition: transform 0.5s;
	}

	#next-page {
		right: 12px;
		left: auto;
	}

	/*

	body.menu-active #menu-control {
		transform-origin: center;
		transform: rotate(180deg);
	}

	#menu-control svg {
		pointer-events: none;
	}

	#triangle-menu {
		fill: rgb(255 0 30 / 70%);
		stroke-width: 1.5;
		stroke: transparent;
	}

	#triangle-next {
		fill: green;
		transform: rotate(90deg);
	}

	#menu-circle {
		fill: transparent;
		transition: stroke 0.5s;
		stroke: transparent;
	}

	#menu-control:hover #menu-circle {
		stroke: rgb(255 0 30 / 70%);
	} */

	#menu-bar {
		position: fixed;
		z-index: 1000;
		height: 36px;
		padding: 12px;
		left: 0;
		right: 0;
		top: 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
	}

	#menu-bar button {
		box-shadow: none;
	}

	#hamburger {
		width: 24px;
		height: 24px;
		box-sizing: border-box;
		cursor: pointer;
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid white;
		background: transparent;
		opacity: .8;
		transition: opacity 300ms;
		position: relative;
	}

	#hamburger:hover {
		opacity: 1;
	}

	#hamburger::before, #hamburger::after {
		content: '';
		position: absolute;
		height: 1px;
		width: 12px;
		background: white;
		transition: transform 300ms;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
	}

	#hamburger::before {
		margin-top: -2px;
	}

	#hamburger::after {
		margin-top: 2px;
	}

	.toc-active #hamburger::before {
		transform: rotate(45deg);
		margin-top: 0;
	}


	.toc-active #hamburger::after {
		transform: rotate(-45deg);
		margin-top: 0;
	}


	#toc {
		position: fixed;
		min-width: 200px;
		min-height: 200px;
		width: 80vw;
		height: 80vh;
		background: black;
		color: white;
		opacity: 0;
		transition: opacity 0.5s;
		z-index: 999;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
		box-shadow: 0 0 0 100vmax black;
		pointer-events: none;
		line-height: 1;
	}

	#toc header {
		font-size: 3rem;
		font-family: freight-big-pro, sans-serif;
		margin-bottom: 2rem;
	}

	body.toc-active #toc {
		opacity: 1;
		pointer-events: all;
	}

	#toc ul {
		list-style: none;
	}

	#toc-content {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
	}

	#toc-content a {
		display: flex;
		align-items: center;
		margin-bottom: .75rem;
		padding: 0;
	}

	#toc-content a.active::after {
		content: '';
		display: inline-block;
		height: 10px;
		width: 12px;
		margin-left: 6px;
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		clip-path: polygon(0 50%, 100% 100%, 100% 0);
		background-color: #1947aa;
	}

	#toc-content > li {
		font-size: 1.8rem;
		padding: 1rem;
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
		border: 1px solid #666;
		border-radius: 8px;
		}

	#toc-content > li:has(.active) {
		background: #ffdf80;
		color: black;
		border-color: #ffdf80;
	}

	#toc-content > li ul {
		padding-left: 0;
		font-size: .7rem;
		font-family: "vinila-extended", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: inherit;
		text-transform: uppercase;
		letter-spacing: .1rem;
	}

	h2,
	h3 {
		width: fit-content;
		font-family: freight-big-pro, sans-serif;
		font-weight: 600;
		font-size: 2rem;
		line-height: 1.1;
		text-align: left;
		padding: 0;
		position: relative;
		margin: 0 0 .75rem 0;

		font-variant-numeric: lining-nums;
		-moz-font-feature-settings: "lnum";
		-webkit-font-feature-settings: "lnum";
		font-feature-settings: "lnum";

	}

	h2 {
		font-size: 3rem;
		text-align: center;
	}

	eyebrow {
		font-family: "vinila-extended", sans-serif;
		display: block;
		font-weight: 900;
		font-size: .8rem;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgb(252, 240, 151);
		margin: 0 0 .4rem 0;
	}


	page p {
		margin: 0;
		font-family: freight-text-pro, serif;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.3;
		width: fit-content;
		text-align: left;
	}

	h2:first-letter {
		text-transform: uppercase;
	}


	.text-shadow {
		text-shadow: 2px 2px 5px black, -2px -2px 5px black;
	}

	h1 {
		font-size: 82px;
		font-family: freight-big-pro, serif;
		font-weight: 900;
		font-style: normal;
		color: inherit;
		line-height: 1;
		text-align: center;
	}

	page h1 {
		text-transform: capitalize;
		margin: 0 auto;
		width: fit-content;
		font-size: 48px;
		line-height: 0.9;
	}

	page .title-card {
		max-width: 37rem;
		margin: 0 auto;
	}

	page .title-card p {
		color: #DEDEDE;
		margin-top: .5rem;
		font-size: 1.4rem;
		line-height: 1.3;
	}

	@media (max-width: 481px) {
		page h1 {
			font-size: 40px;
		}
	}

	.smallcaps,
	#menu header {
		width: 100%;
		font-size: 1rem;
		font-family: "vinila-extended", sans-serif;
		font-weight: 700;
		font-style: normal;
		color: inherit;
		text-transform: uppercase;
		letter-spacing: .1rem;
		margin: 18px auto;
		text-align: center;
	}

	main {
		line-height: 1;
		color: black;
		margin: 0;
		padding: 0;
		height: 100vh;
		overflow: hidden;
		/*   overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always; */
	}

	#scroll-wrap {
		width: 100vw;
		height: 100vh;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
		/*   scroll-snap-align: start end; */
	}


	#scroller {
		scroll-snap-type: y mandatory;
		display: flex;
		flex-direction: column;
		width: 100dvw;
		height: 100dvh;
		position: relative;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	chapter, page {
		flex: 0 0 auto;
		height: 100%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-snap-align: center;
		scroll-snap-stop: always;
		position: relative;
		z-index: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		overflow: hidden;
		box-shadow: 0 0 100px inset rgba(0, 0, 0, 0.2);
		color: white;
		transition: color 2s 1s;
		font-family: freight-big-pro, serif;
		font-size: 8rem;
	}

	/* chapter::before, chapter::after {
		content: attr(title);
		position: absolute;
		width: 100%;
		top: 0;
		height: 24px;
		text-align: center;
		color: white;
		font-family: "vinila-extended", sans-serif;
		font-weight: 400;
		font-size: .8rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		opacity: 0;
		transition: opacity 300ms;
	}

	chapter::after {
		top: auto;
		bottom: 0;
	}

	chapter.entering::before, chapter.entering::after {
		opacity: 1;
	} */

	.show {
		opacity: 1 !important;
	}

	#next-chapter, #previous-chapter {
		position: absolute;
		width: fit-content;
		left: 50%;
		translate: -50% 0;
		padding: 1rem;
		top: 0;
		border-radius: 0 0 12px 12px;
		box-shadow: 0 0 8px inset rgba(255,255,255,0.5);
		text-align: center;
		color: white;
		font-family: "vinila-extended", sans-serif;
		font-weight: 400;
		font-size: .8rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		opacity: 0;
		transition: opacity 300ms;
		z-index: 1000;
	}

	#next-chapter {
		top: auto;
		bottom: 0;
		border-radius: 12px 12px 0 0;
	}

	/* .slide.active {
		color: red;
	} */

	pages {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-items: flex-start;
		scroll-snap-type: x mandatory;
		overflow-x: scroll;
	}

	page.active>figure {
		opacity: 1;
	}

	pages page {
		position: static;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	page {
		display: grid;
		place-content: center;
	}

	page figure {
		height: 90vh;
		width: 90vw;
		transition: opacity 1s;
		opacity: 0;
		color: white;
		margin: 0;
	}

	page figure img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		max-height: calc(90dvh - 200px);
	}

	page figure figcaption {
		max-width: 600px;
		margin: 2rem auto 0 auto;
		padding: 1rem 1.5rem;
		position: relative;
	}

	page figure figcaption::after {
    position: absolute;
    content: '';
    inset: 0;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    /* border-top: 1px solid #666; */
    /* width: 72px; */
    background: linear-gradient(#666, #666), linear-gradient(#666, #666), linear-gradient(#666, #666), linear-gradient(#666, #666);
    background-size: 8px 1px, 8px 1px, 8px 1px, 8px 1px;
    background-position: top left, bottom left, top right, bottom right;
    background-repeat: no-repeat;
	}

	.image {
		flex: 1;
		background-size: contain;
		background-position: center bottom;
		background-repeat: no-repeat;
	}

	/* .page > * {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s 500ms, transform 1s 500ms;
}

.page.active > * {
  opacity: 1;
  transform: translateY(0px);
}

.photo-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  background-color: rgb(15, 15, 46);
  opacity: 0;
  transition: opacity 2s, filter 10s;
  z-index: -1;
}

.after-box::after {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 18px;
  width: max-content;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  transition: all 1s;
  font-weight: 900;
  font-size: 11px;
  padding: 0.5em 1em;
  border-radius: 2em;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 1s;
  opacity: 1;
}
 */

	.active {
		opacity: 1;
	}

	.active .photo-backdrop {
		opacity: 1;
	}

	/* COLOR: SILVER */

	.darkbrown {
		color: #4b3131;
	}

	.darkerbrown {
		color: #291717;
	}


	/* PAGE-SPECIFIC STYLES */
